@import "tailwindcss";

:root {
  --background: #f2f2f2;
  --foreground: #1d1d1d;
  --border: #444;
  --max-width: 900px;

  --font-sans: "Verdana", "Tahoma", sans-serif;
  --font-mono: "Courier New", monospace;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #e4e4e4;
    --border: #666;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
  margin: 0;
  padding: 0;
  line-height: 1.55;
}
